In [4]:
import numpy as np
import pandas as pd

In [5]:
s1 = pd.Series(np.random.randint(1, high=5, size=100).astype(np.int8))
s2 = pd.Series(np.random.randint(1, high=4, size=100).astype(np.int8))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100).astype(np.int32))

In [6]:
print(s1,s2,s3)

0     3
1     4
2     2
3     4
4     3
     ..
95    3
96    4
97    3
98    4
99    3
Length: 100, dtype: int8 0     2
1     2
2     2
3     2
4     3
     ..
95    3
96    1
97    2
98    3
99    2
Length: 100, dtype: int8 0     10464
1     24221
2     26575
3     14129
4     12003
      ...
95    22153
96    23057
97    22705
98    25964
99    24646
Length: 100, dtype: int32

In [8]:
housemkt=pd.concat([s1,s2,s3],axis=1)
housemkt.head()

   0  1      2
0  3  2  10464
1  4  2  24221
2  2  2  26575
3  4  2  14129
4  3  3  12003

In [9]:
#join concat the values
bigcolumn=pd.concat([s1,s2,s3],axis=0)
#it is still a series,so we need to transfore it to a Dataframe
bigcolumn =bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       3
1       4
2       2
3       4
4       3
..    ...
95  22153
96  23057
97  22705
98  25964
99  24646

[300 rows x 1 columns]

In [10]:
len(bigcolumn)

300

In [11]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

         0
0        3
1        4
2        2
3        4
4        3
..     ...
295  22153
296  23057
297  22705
298  25964
299  24646

[300 rows x 1 columns]